body {
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(4, 4, 51);
  margin: 0;
  color: white;
}

.author {
  display: block;
  margin-top: 30px;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}

/* .quote-box {
  margin: 0px auto;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.btn {
  padding: 10px 20px;
  background-color: blue;
  font-size: 30px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.btn-primary {
  background-color: #007bff;
}

.btn-danger {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}

.btn:hover {
  background-color: darkblue;
}

.btn-danger:hover {
  background-color: red;
  color: white;
}

.quote {
  font-style: italic;
  min-height: 2.3em;
  margin-bottom: 0.7em;
}

.quote-text {
  font-style: italic;
}

.quote-author {
  margin-block-start: 0.7em;
  font-weight: bold;
}

.quote::before,
.quote::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centers cards horizontally */
  gap: 16px; /* optional: spacing between cards */
  width: 100%;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
}

/* .favorite-card button {
  margin-top: auto;
} */

.fav-card-content {
  flex: 1;
  padding: 10px;
}

#toggle-favorite-btn {
  display: none;
}

.star-icon {
  font-size: 30px;
  color: gold;
  cursor: pointer;
}
